<template>
  <article class="member">
    <p v-if="$fetchState.pending">Fetching Member Data..</p>
    <p v-else-if="$fetchState.error">An error occurred :(</p>
    <div v-else>
      <div class="member__image">
        <img :src="memberInfo.Character.Portrait" loading="lazy" alt="" />
      </div>
      <div class="member__info">
        <h1>{{ memberInfo.Character.Name }}</h1>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  data() {
    return {
      memberInfo: '',
    }
  },
  async fetch() {
    this.memberInfo = await fetch(
      'https://xivapi.com/character/' +
        this.$route.params.member +
        '?data=CJ,MIMO&extended=1',
      { mode: 'cors' }
    ).then((res) => res.json())
  },
}
</script>

<style scoped>
</style>