<template>
  <header class="hero">
    <h1>{{ fcInfo.Name }}</h1>
    <p>{{ fcInfo.DC }} | {{ fcInfo.Server }} | &lt;{{ fcInfo.Tag }}&gt;</p>
    <p>{{ fcInfo.Estate.Greeting }}</p>
  </header>
</template>

<script>
export default {
  props: {
    fcInfo: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>
h1 {
  font-size: 80px;
  font-weight: 900;
}
</style>