<template>
  <section class="member-list">
    <h2>Members</h2>
    <div
      v-for="member in members"
      :key="member.ID"
      class="member-list__members"
    >
      <nuxt-link :to="`/members/${member.ID}`">
        <!-- <nuxt-link
        :to="{
          name: 'members-member',
          params: { name: member.Name, id: member.ID },
        }"
      > -->
        <img
          loading="lazy"
          :src="member.Avatar"
          alt=""
          aria-hidden="true"
          class="member-list__img"
        />
      </nuxt-link>
      <div class="member-list__name">
        <div class="member-list__firstname">
          {{ member.Name.split(' ')[0] }}
        </div>
        <div class="member-list__lastname">
          {{ member.Name.split(' ')[1] }}
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    members: {
      type: Array,
      required: true,
    },
  },
  // methods: {
  //   splitName(name) {
  //     name.split(' ');
  //     const firstName = name[0];
  //     return
  //   }
  // },
}
</script>

<style>
</style>