<template>
  <nuxt keep-alive />
</template>

<script>
export default {}
</script>

<style>
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 1 999;
  font-display: swap;
  src: url('~assets/fonts/Inter.ttf') format('truetype-variations');
  src: url('~assets/fonts/Inter.var.woff2') format('woff2-variations');
}
*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --fontBase: 'Inter', sans-serif;
}
html {
  font-family: var(--fontBase);
}
</style>