<template>
  <p v-if="$fetchState.pending">Fetching Everlasting Data..</p>
  <p v-else-if="$fetchState.error">An error occurred :(</p>
  <div v-else>
    <hero-home :fc-info="fcInfo.FreeCompany" />
    <members-list :members="fcInfo.FreeCompanyMembers" />
    <button @click="$fetch">Refresh</button>
  </div>
</template>

<script>
import HeroHome from '~/components/HeroHome.vue'
// import TestComponent from '~/components/TestComponent.vue'
export default {
  components: { HeroHome },
  // components: { TestComponent },
  data() {
    return {
      fcInfo: '',
    }
  },
  async fetch() {
    this.fcInfo = await fetch(
      'https://xivapi.com/freecompany/9237305048202071824?data=FCM'
    ).then((res) => res.json())
  },
}
</script>

<style scoped>
</style>